
p{
    color: crimson;
    font-size: 16pt;
}

p.negrita{
    font-weight: bold;
}

.verde{
    color: darkolivegreen;
}

input{
    color: darkcyan;
}

.button{
    background-color: rgb(152, 201, 152);
    border: none;
    color: rgb(241, 234, 238);
    padding: 15px 32px;
    margin: 4px 2px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover{
    background-color: indianred;
}